* {
  font-family: "Arial"; }

ul {
  padding-left: 0; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s; }
  a:hover {
    color: grey; }

.hat {
  background-color: white;
  width: 100%; }
  .hat .container {
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .hat .container .logo {
      padding: 20px;
      min-width: 100px; }
  .hat .main_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px; }
  .hat .main_menu > li {
    list-style-type: none;
    margin-left: 20px; }

.header_content {
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 37, 45, 0.9)), to(rgba(238, 37, 45, 0.9))), url(pizza-in-hazel-park-michigan.png);
  background: -webkit-linear-gradient(left, rgba(238, 37, 45, 0.9), rgba(238, 37, 45, 0.9)), url(pizza-in-hazel-park-michigan.png);
  background: -o-linear-gradient(left, rgba(238, 37, 45, 0.9), rgba(238, 37, 45, 0.9)), url(pizza-in-hazel-park-michigan.png);
  background: linear-gradient(to right, rgba(238, 37, 45, 0.9), rgba(238, 37, 45, 0.9)), url(pizza-in-hazel-park-michigan.png);
  background-position: center;
  width: 100%; }
  .header_content .container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header_content .container .header_text {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding-left: 20px; }
      .header_content .container .header_text div {
        margin-bottom: 20px; }
      .header_content .container .header_text h1 {
        margin: 0; }
      .header_content .container .header_text .text_h1 {
        color: white;
        margin-top: 20px;
        font-size: 22px; }
      .header_content .container .header_text .text_h5 {
        color: white;
        font-size: 16px; }
      .header_content .container .header_text .button {
        border: 2px solid white;
        padding: 5px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        -webkit-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s; }
        .header_content .container .header_text .button:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
    .header_content .container .header_img {
      padding: 0px 80px;
      width: 50%;
      height: auto; }

.icons {
  padding-top: 80px;
  background-color: #eaeaea;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 60px; }
  .icons .container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .icons h1 {
    font-weight: bold;
    margin: 0; }
  .icons .icons_title {
    position: relative; }
  .icons .icons_title::before {
    content: " ";
    position: absolute;
    width: 102px;
    height: 28px;
    top: 0px;
    background-repeat: no-repeat;
    background-image: url(Shape%202%20copy.png);
    left: -120px; }
  .icons .icons_title::after {
    content: " ";
    position: absolute;
    width: 102px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url(Shape%202%20copy.png);
    right: -120px;
    top: 0; }
  .icons .icons_first_text {
    color: grey;
    margin-top: 20px;
    margin-bottom: 40px; }
  .icons_nav {
    margin-bottom: 40px; }
  .icons_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .icons_menu > li {
      list-style-type: none;
      margin: 0;
      font-weight: bold; }
  .icons_icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 65px; }
    .icons_icons .container_for_image {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .icons_icons .icon {
      padding: 20px;
      padding-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: white;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s; }
      .icons_icons .icon:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .icons_icons .icon .icon_number {
        margin-right: 20px;
        font-size: 100px;
        font-weight: 900; }
      .icons_icons .icon .icon_title {
        font-size: 44px;
        font-weight: 750;
        margin-bottom: 10px; }
      .icons_icons .icon .icon_text {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 50px; }

.icons_button {
  padding: 20px 60px;
  background-color: #ef2e35;
  border: 4px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: relative;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s; }
  .icons_button::before {
    content: " ";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    left: 20px;
    top: 40%;
    border-radius: 100%; }
  .icons_button::after {
    content: " ";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    right: 20px;
    top: 40%;
    border-radius: 100%; }
  .icons_button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow: 0px 0px 5px white;
    color: white; }

.footer {
  background-color: #ee252d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer .copyright {
    padding: 30px 0px;
    font-size: 12px;
    color: white;
    text-transform: uppercase; }

@media screen and (max-width: 650px) {
  .header_content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header_content .container .header_text {
    width: 80%; }
  .header_content .container .header_img {
    width: 80%;
    margin-bottom: 10px;
    padding: 0px 0px; }
  .icons .icons_title::after {
    display: none; }
  .icons .icons_title {
    font-size: 10px; }
  .icons_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .icons_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .icons_button {
    margin-right: 10px;
    margin-left: 10px; }
  .hide_650 {
    display: none; }
  .icons_nav {
    text-align: center; }
  .icons_menu_list {
    padding-bottom: 20px; }
  .icons_icons .icon {
    padding: 30px; }
  .hat .main_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .hat .main_menu > li {
    padding-bottom: 5px; }
  .hat .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header_content .container .header_text {
    padding: 25px; } }
