* {
	font-family: "Arial";
}

ul {
	padding-left: 0;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: black;
						transition-duration: .4s;
	&:hover {
		color:grey;
	}
}


body, html {
	
}

header {
	
}


.hat {
	background-color: white;
	width: 100%;
	.container {
		margin: 0 auto;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		
		.logo {
			padding: 20px;
			min-width: 100px;
		}
		
	}
	
	.main_menu {
		display: flex;
		padding: 20px;
	}
	
	
	.main_menu > li {
				list-style-type: none;
		margin-left: 20px;
	}
	
}

.header_content {
		background: linear-gradient(to right, rgba(238,37,45,.9), rgba(238,37,45,.9)), url(pizza-in-hazel-park-michigan.png);
		
		background-position: center;
	width: 100%;
	
	.container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.header_text {
			width: 50%;
			display: flex;
			padding: 20px;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-left:20px;
			div {
				margin-bottom: 20px;
			}
			h1 {
				margin: 0;
			}
			.text_h1 {
				color: white;
				margin-top: 20px;
				font-size: 22px;
			}
			.text_h5 {
				color: white;
				font-size: 16px;
			}
			.button {
				border: 2px solid white;
				padding: 5px 20px;
				margin-bottom: 10px;
				border-radius: 5px;
				color: white;
				font-weight: bold;
				transition-duration: .4s;
				
				&:hover {
					transform: scale(1.1);
					//cursor: default;
				}
				
			}
		}
		
		.header_img {
			padding: 0px 80px;
			width: 50%;
			height: auto;
		}
		
	
		
	}
}



.icons {
	padding-top: 80px;
	background-color: #eaeaea;
	justify-content: center;
	padding-bottom: 60px;
	.container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-weight: bold;
		margin: 0;
	}
	.icons_title {
		position: relative;
	}
	.icons_title::before {
		content: " ";
		    position: absolute;
		width: 102px;
		height: 28px;
		top: 0px;
		background-repeat: no-repeat;
		background-image: url(Shape%202%20copy.png);
		left: -120px;
	}
	.icons_title::after {
		content: " ";
		position: absolute;
		width: 102px;
		height: 28px;
		background-repeat: no-repeat;
		background-image: url(Shape%202%20copy.png);
		right: -120px;
		top: 0;
	}
	
	.icons_first_text {
		color: grey;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	
	&_nav {
		margin-bottom: 40px;
	}
	
	&_menu {
		display: flex;
		> li {
				list-style-type: none;
				margin: 0;
			font-weight: bold;
			// UPD
		}
	}
	
	&_icons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 65px;
		.container_for_image {
			width: 100%;
			display: flex;
			padding-top: 20px;
				padding-bottom: 20px;
			align-items: center;
		}
		
		.icon {
			padding: 20px;
			padding-top: 50px;
			 display: flex;
			flex-direction: column;
			background-color:white;
			transition-duration: .4s;
			
			&:hover {
				transform: scale(1.1);
			}
			.icon_number {
				margin-right: 20px;
				font-size: 100px;
				font-weight: 900;
			}
			
			.icon_title {
				font-size: 44px;
				font-weight: 750;
				margin-bottom: 10px;
			}
			
			.icon_text {
				font-size: 16px;
				font-weight: 500;
				padding-bottom: 50px;
			}
			
		}
	}
	
	
	
	
}



.icons_button {
	padding: 20px 60px;
	background-color: #ef2e35;
	border: 4px solid white;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: relative;
	transition-duration: .4s;
	
	&::before {
		content: " ";
		width: 10px;
		height: 10px;
		background: white;
		position: absolute;
		left: 20px;
		top: 40%;
		border-radius: 100%;
		
	}
	
		
	&::after {
		content: " ";
		width: 10px;
		height: 10px;
		background: white;
		position: absolute;
		right: 20px;
		top: 40%;
		border-radius: 100%;
		
	}
	
	&:hover {
		transform: scale(1.1);
		text-shadow: 0px 0px 5px white;
		color: white;
	}
	
}

.footer {
	background-color: #ee252d;
	display: flex;
	justify-content: center;
	.copyright {
		padding: 30px 0px;
		font-size: 12px;
		color: white;
		text-transform: uppercase;
		
	}
	
}



@media screen and (max-width: 650px) {
	.header_content .container {
		flex-direction: column;
	}
	
	.header_content .container .header_text {
		
		width: 80%;
	}
	
	.header_content .container .header_img {
			width: 80%;
		margin-bottom: 10px;
		padding: 0px 0px;
		
	}
	
	.icons .icons_title::after {
		display: none;
	}
	
	
	.icons .icons_title {
		
		font-size: 10px;
	}
	
	.icons_menu {
		flex-direction: column;
	}
	
	.icons_icons {
		flex-direction: column;
	}
	
	.icons_button {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	.hide_650 {
		display: none;
	}
	
	.icons_nav{
		text-align: center;
		
	}
	
	.icons_menu_list {
		padding-bottom: 20px;
	}
	
	.icons_icons .icon {
		padding: 30px;
	}
	
	.hat .main_menu {
		
		flex-direction: column;
	}
	
	.hat .main_menu > li {
		padding-bottom: 5px;
	}
	
	.hat .container {
		align-items: center;
	}
	
	.header_content .container .header_text {
		padding: 25px;
	}
}




